{% extends "form_div_layout.html.twig" %}

{% block file_widget %}
    {% spaceless %}
        {{ block(form_widget)}}
        {% if image_url is not null %}
            <img src="{{ asset(image_url) }}" />
        {% endif %}
    {% endspaceless %}
{% endblock %}